# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.nx/self-healing
packages/governance/adapter-dbt/tests/fixtures/artifacts/malformed-manifest/target/manifest.json
packages/governance/adapter-dbt/tests/fixtures/artifacts/malformed-project-config/dbt_project.yml
